* {
    font-family: 'Courier New', Courier, monospace !important;
}

body {
    padding: 60px !important;
}

input {
    color: gray !important;
    font-size: 1.3rem !important;
    width: 100% !important;
}

.card-grid {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.card {
    align-content: center !important;
    border: 1px solid grey !important;
    border-radius: 6px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    overflow: hidden !important;
}

.card p {
    padding: 5px !important;
    text-align: center !important;
}

.card img {
    max-height: 170px !important;
}