* {
    font-family: 'Courier New', Courier, monospace !important;
}

body {
    padding: 60px !important;
}

input {
    color: gray !important;
    font-size: 1.3rem !important;
    width: 100% !important;
}